body {
	background-color: #353A3E; 
	color: #1A1A1A;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 14px;
	font-weight: 300;
		
}
.subtitulo{
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 300;
	text-align: center;
	background-color: transparent;
	height: 22px;	
		
}
.subtitulo2{
	padding-top: 50px;
	font-family: "Open Sans", Verdana, sans-serif;
	color: #96989A;	
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 335px;
    background-color: transparent;
    
}

.w8-button3 {
	padding: 0px 4px 0px 4px;
	border: none;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	cursor: pointer;
	text-decoration: none;
	width: 189px;
	display: inline-block;
	height: 35px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.w8-button3:hover {
	color: white !important;
	background-color: #DB5D5D !important;
}

.w8-button3.red {
	background-color: #D74B4B;
}



input[type=text] {
	background-color: #FFFFFF;
	border: 2px solid #D2D2D2;
	text-decoration: none;
	width: 185px;
	height: 23px;
}

input[type=password] {
	background-color: #FFFFFF;
	border: 2px solid #D2D2D2;
	text-decoration: none;
	width: 185px;
	height: 23px;
}

label {
	padding: 6px 4px 0px 4px;
	border: none;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	text-decoration: none;
	width: 130px;
	display: inline-block;
	height: 23px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #96989A;
}






